/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.sidebare_label{
    -fx-text-fill: white;

}
.selected{
    -fx-border-color:  #0099ff;
    -fx-border-width: 4;
    -fx-text-fill: white;
    -fx-font-weight: bolder;
}
.select_comboBox{
    -fx-border-color:  #00cc00;
      -fx-border-width: 4;

}
.not_select_comboBox{
    -fx-border-color: #ff0000;
     -fx-border-width: 4;
}
.default_comboBox{
    -fx-border-color: gray;
    -fx-border-width: 1px;
}
